body {
    margin: 0;
    padding: 0;
    min-width: 800px;
    min-height: 100vh;

    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    margin-left : 20px;
}

a {
    text-decoration: none;
    color: rgb(246, 246, 246);
}

.header, .under-header-container {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}

.header {
    padding: 0 15% 0 15%;
}

.header, .under-header-container * {
    color: #E5E7EB;
}

.header-left, .under-left {
    display: flex;  
}

.header-left {
    font-size: 24px;
    font-weight: 900;
    margin-right: auto;
    justify-content: flex-start;
    align-items: center;
}

/*^header */

.under-header-container{
    height: 200px;
    padding: 7% 15% 7% 15%;
    gap: 30px;
   
}

.under-left {
    padding: 0;
    margin: 0;
   
    flex-direction: column;
    flex: 1;

    align-items: flex-start;
    /*remember column switches align and justify axis*/
    
    
}

.under-right {
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex: 1;
    background-color: #8d8d8d;
}

.under-left .title {
    font-size: 48px;
    font-weight: 900;
 
    padding: 0;
    margin: 0;

    min-width: 350px;
}

.under-left button {
    background-color: #3882F6;
    padding: 10px 25px 10px 25px;
    border: none;
    border-radius: 8px;
    font-weight: 900;
    font-size: 18px;
}

/*mid part*/
.mid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    padding: 5% 10% 5% 10%;
    gap: 30px;
}

.mid-container .mid-title {
    font-size: 20px;
    font-weight: 900;
}

.mid-images-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.mid-image {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border: 2px solid #3882F6;
}

.placeholder-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100px;
    
}

.mid-text {
    font-size: 10px;
    text-align: center;
}




/* let me see borders 
body * {
    border: 1px solid rgb(225, 165, 165);
}*/